@charset "utf-8";
/* CSS Document */
.more{font-size: 118px; font-weight: 725;}
.jumbohead {background: url(north/ladakh.jpg.png); height: 400px;}
.jmhead{background: url(south/Wayanad.png); height: 500px;}
.dis li{display: inline-block;}